<app-talent-header></app-talent-header>
<section class="brdcrm-sec">
    <div class="container">
        <div class="inner-sec d-flex align-items-center justify-content-between cmn-card">
            <div class="left-sec d-flex align-items-center">
                <a class="d-flex me-3" href=""><img width="23px" src="assets/images/user_icn.svg"></a>
                <h3 class="m-0 fs20 fw_semibold text_color_darkgrey">Privacy Policy</h3>
            </div>
            <div class="right-sec">
                <!-- <p class="fs18 m-0">23 Apr 2021 | 12:30 PM</p> -->
            </div>
        </div>
    </div>
</section>
<section class="privacy-sec">
    <div class="container">
        <!-- Tabs -->   
        <div class="cmn-card mb-4">
            <!-- <h3 class="fs20 fw_normal text_color_pink mb-3">Lorem ipsum dolor sit amet</h3> -->
            <p class="fs16 fw_light mb-3" [innerHtml]="PrivacyPolicyData?.data?.text">
                {{PrivacyPolicyData?.data?.text}} 
                
            </p>
          

            <!-- <ul class="m-0 p-0 list-unstyled">
                <li class="fs16 fw_normal text_color_lightgrey mb-3 position-relative">posuere ut ligula ac, efficitur lacinia nisi. Donec vel faucibus erat. Mauris molestie efficitur neque quis pulvinar. Ut malesuada vehicula rutrum. Quisque ligula dui, tempor vitae ultricies sed, egestas quis</li>
                <li class="fs16 fw_normal text_color_lightgrey mb-3 position-relative">posuere ut ligula ac, efficitur lacinia nisi. Donec vel faucibus erat. Mauris molestie efficitur neque quis pulvinar. Ut malesuada vehicula rutrum. Quisque ligula dui, tempor vitae ultricies sed, egestas quis</li>
                <li class="fs16 fw_normal text_color_lightgrey mb-3 position-relative">posuere ut ligula ac, efficitur lacinia nisi. Donec vel faucibus erat. Mauris molestie efficitur neque quis pulvinar. Ut malesuada vehicula rutrum. Quisque ligula dui, tempor vitae ultricies sed, egestas quis</li>
            </ul> -->
        </div>
    </div>
</section>
