<app-talent-header></app-talent-header>
<section class="brdcrm-sec">
    <div class="container">
        <div class="inner-sec d-flex align-items-center justify-content-between cmn-card">
            <div class="left-sec d-flex align-items-center">
                <a class="d-flex me-3" href=""><img width="23px" src="assets/images/blue_settings.svg"></a>
                <h3 class="m-0 fs20 fw_semibold text_color_darkgrey">Settings</h3>
            </div>
            <div class="right-sec">
                <!-- <p class="fs18 m-0">23 Apr 2021 | 12:30 PM</p> -->
            </div>
        </div>
    </div>
</section>
<section class="settings-sec">
    <div class="container">
        <div class="row">
            <!-- Settings side menu -->
            <div class="col-md-12 col-lg-4">
                <app-talent-settings-sidebar></app-talent-settings-sidebar>
            </div>
            <!-- Payment Method -->
            <div class="col-md-12 col-lg-8">
                <div class="personal-documents cmn-card mb-4">
                    <h2 class="settings-heading fs22 fw_semibold text_color_blue">Personal Document</h2>
                   
                    <form action="" class="pb-0" [formGroup]="talentData">
                        <!-- <div class="mb-3">
                            <label class="form-label">Date of Birth</label>
                            <input type="date" class="form-control form-control-lg"
                                placeholder="dd-mm-yyyy" formControlName="dateOfBirth" />
                        </div> -->

                        <div class="mb-3">
                            <label class="form-label">Date of Birth</label>
                            <!-- <input type="text" class="form-control form-control-lg" placeholder="dd-mm-yyyy" formControlName="dateOfBirth"/> -->
                            <input matInput class="form-control form-control-lg" [max]="talentData.get('currentDate')?.value" placeholder="dd-mm-yy" [matDatepicker]="picker" formControlName="dateOfBirth">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Experience</label>
                            <input type="text" class="form-control form-control-lg"
                                placeholder="Enter work experience" formControlName="experience" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Select Currency</label>
                            <select class="form-select form-select-lg" formControlName="currencyType">
                                <option value='' selected disabled>Select Currency</option>
                                <option value="AED">AED</option>
                                <option value="USD">USD</option>
                                <option value="INR">INR</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Price</label>
                            <input type="text" class="form-control form-control-lg"
                                placeholder="Per hour price" formControlName="pricePerHour" />
                        </div>
                       
                        <div class="mb-3">
                            <label class="form-label w-100">Select Proof Type</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="check" id="Video"
                                    value="video" formControlName="check" (change)="reset('video')">
                                <label class="form-check-label" for="Video">Video</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="check" id="Passport"
                                    value="passport" formControlName="check"  (change)="reset('passport')">
                                <label class="form-check-label" for="Passport">Passport</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="check" id="Other"
                                    value="other" formControlName="check"  (change)="reset('other')">
                                <label class="form-check-label" for="Other">Other</label>
                            </div>
                        </div>
                        <div class="mb-3"> 
                            <ng-container *ngIf="talentData.get('check').value =='video'">
                                <div
                                    class="upload-img-wrap position-relative d-flex align-items-center justify-content-center flex-column">
                                    <img *ngIf="!imgURL" src="assets/images/image-gallery.svg">
                                    <!-- <video controls *ngIf="imgURL">
                                        <source src="{{imgURL}}">
                                    </video> -->

                                    <video *ngIf="imgURL" [src]="imgURL" alt="" width="100%" ></video> 


                                    <!-- <p class="mt-3 mb-0" *ngIf="!imgURL">Upload Campaign Image</p>
                                    <input type="file" (change)="selectImage($event)" accept="video/*" > -->
                                </div>
                            </ng-container>
                            <ng-container *ngIf="talentData.get('check').value =='passport'">
                                <div
                                    class="upload-img-wrap position-relative d-flex align-items-center justify-content-center flex-column">
                                    <img *ngIf="!imgURL" src="assets/images/image-gallery.svg">
                                    <img class="img-fluid" *ngIf="imgURL" src="{{imgURL}}">
                                    <!-- <p class="mt-3 mb-0" *ngIf="!imgURL">Upload Campaign Image</p>
                                    <input type="file" (change)="selectImage($event)" accept="image/*"> -->
                                </div>
                            </ng-container>
                            <ng-container *ngIf="talentData.get('check').value =='other'">
                                <div
                                    class="upload-img-wrap position-relative d-flex align-items-center justify-content-center flex-column">
                                    <img *ngIf="!imgURL" src="assets/images/image-gallery.svg">
                                    <img class="img-fluid" *ngIf="imgURL" src="{{imgURL}}">
                                    <!-- <p class="mt-3 mb-0" *ngIf="!imgURL">Upload Campaign Image</p> -->
                                    <!-- <p class="mt-3 mb-0" *ngIf="imgURL">{{imageUploadData.name}}</p> -->
                                    <!-- <input type="file" (change)="selectImage($event)" accept="image/*"> -->
                                </div>
                            </ng-container>
                        </div>

                        <div class="upload-video" *ngIf="talentData.get('check').value =='video'">
                            <p class="fs16 fw_normal text_color_light_blue text-decoration-underline mb-0" >Upload Video</p>
                         <input type="file" (change)="selectImage($event)" accept="video/*" >
                            <!-- <h4 class="fs16 fw_normal text_color_light_blue text-decoration-underline mb-0">Upload Video</h4> -->
                        </div>

                        <div class="upload-video" *ngIf="talentData.get('check').value =='passport' || talentData.get('check').value == 'other' ">
                            <p class="fs16 fw_normal text_color_light_blue text-decoration-underline mb-0" >Upload  Image</p>
                            <!-- <p class="mt-3 mb-0" *ngIf="imgURL">{{imageUploadData.name}}</p> -->
                            <input type="file" (change)="selectImage($event)" accept="image/*">
                        </div>

                        <!-- <div class="upload-video">
                            <input type="file">
                            <h4 class="fs16 fw_normal text_color_light_blue text-decoration-underline mb-0">Upload Video</h4>
                        </div> -->
                       
                        <div class="mt-4 position-relative  d-flex justify-content-center">
                            <button type="button" class="btn btn-primary" (click)="saveChanges()">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- video modal -->
<div class="modal fade " id="proof_video" tabindex="-1 " aria-hidden="true ">
    <div class="modal-dialog modal-dialog-centered modal-lg ">
        <div class="modal-content ">
            <div class="modal-header ">
                <h4 class="modal-title ">About BooMe</h4>
                <button type="button " class="btn-close " data-bs-dismiss="modal" aria-label="Close "></button>
            </div>
            <div class="modal-body ">
                <div class="embed-responsive embed-responsive-16by9 ">
                    <iframe id="wedo_video " class="embed-responsive-item " width="100% " height="450 "
                        src="//www.youtube.com/embed/YE7VzlLtp-4 " allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
