ngb-rating {
    color: #d5a92d;
    font-size: 18px;
}

.star {
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    color: #d3d3d3;
}

.full {
    color: #d5a92d;
}

.half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: #d5a92d;
}