<app-client-talentheader></app-client-talentheader>

<section class="brdcrm-sec">
    <div class="container">
        <div class="inner-sec d-flex align-items-center justify-content-between cmn-card">
            <div class="left-sec d-flex align-items-center">
                <a class="d-flex me-3" href=""><img width="23px" src="assets/images/booking_icn.svg"></a>
                <h3 class="m-0 fs20 fw_semibold text_color_darkgrey">Bookings</h3>
                <h2 class="mb-0 text_color_pink fs16 fw_normal">Booking Details</h2>
            </div>
            <div class="right-sec">
                <p class="fs18 m-0">23 Apr 2021 | 12:30 PM</p>     
            </div>
        </div>
    </div>
</section>

<section class="talent-details">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-4">
                <div class="cmn-card user-details client-talent mb-4 px-0 pb-0">
                    <div class="content-box px-3">
                        <div class="top-sec pb-2 border-0">
                            <div class="img-wrap">
                                <img src="assets/images/review_user1.png">
                            </div>
                            <h3 class="fs20 text_color_light_blue fw_semibold text-center mt-2 mb-0 pt-1">Bobby Norton</h3>
                            <p class="fs14 text_color_lightgrey fw_nolrmal my-2 text-center"><img style="margin-top: -3px" class="me-2"
                                src="assets/images/post_location.svg"><span>California 95023, USA</span></p>
                            <div class="d-flex badge-row align-items-center justify-content-center py-1">
                                <p class="light-gray mb-0">Designer</p>
                                <p class="light-pink mb-0">Piano artist</p>    
                                <p class="light-pink mb-0">+2</p>
                            </div>
                            <div class="rating-sec d-flex align-items-start justify-content-center my-3">
                                <h5 class="fs28 fw_bold me-2">4.0</h5>
                                <div class="right-sec">
                                    <div class="star-sec d-flex align-items-center">
                                        <img src="assets/images/yellow_star.svg">
                                        <img src="assets/images/yellow_star.svg">
                                        <img src="assets/images/yellow_star.svg">
                                        <img src="assets/images/yellow_star.svg">
                                        <img src="assets/images/gray_star.svg">
                                    </div>
                                    <span class="fs14 fw_normal text_color_lightgrey mt-2 d-block">120 reviews</span>
                                </div>
                            </div> 
                            <div class="d-flex align-items-center justify-content-center info-row">
                                <h4 class="fs14 fw_semibold mb-0"><span class="labeltxt fw_normal text_color_lightgrey pe-2">Age:</span> <span>26</span></h4>
                                <h4 class="fs14 fw_semibold mb-0"><span class="labeltxt fw_normal text_color_lightgrey pe-2">Price:</span> <span>$34/hr</span></h4>
                                <h4 class="fs14 fw_semibold mb-0"><span class="labeltxt fw_normal text_color_lightgrey pe-2">Exp:</span> <span>5 years</span></h4>
                            </div>
                            <div class="btns-sec pt-3 d-flex justify-content-center">
                                <button class="btn btn-primary px-0 mt-3 me-2 no-shadow" [routerLink]="['/client-talent-extra-details']">View Profile</button>
                                <button class="btn btn-primary-light px-0 mt-3 ms-2 no-shadow">Send Message</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-8">
                <div class="cmn-card rating-sec mb-4">
                    <div class="d-flex border-bottom-heading align-items-center justify-content-between">
                        <h2 class=" fs22 fw_semibold text_color_blue mb-0">Booking Details</h2>
                        <p class="detail-status mb-0 pending">Upcoming</p>
                    </div>
                    <div class="booking-info">
                        <h5 class="d-flex align-items-center justify-content-between mb-2 pb-2">
                            <span class="fs18 fw_semibold text_color_darkgrey">Payment ID</span> 
                            <span class="fs16 text_color_lightgrey fw_normal">#5269784615</span>
                        </h5>
                        <h5 class="d-flex align-items-center justify-content-between mb-2 pb-2">
                            <span class="fs18 fw_semibold text_color_darkgrey">Booking Date</span> 
                            <span class="fs16 text_color_lightgrey fw_normal">Monday - 19 July, 2021</span>
                        </h5>
                        <h5 class="d-flex align-items-center justify-content-between mb-2 pb-2">
                            <span class="fs18 fw_semibold text_color_darkgrey">Booking Time</span> 
                            <span class="fs16 text_color_lightgrey fw_normal">9:00 AM - 2:00 PM</span>
                        </h5>  

                        <div class="bill-card mb-3">
                            <p class="d-flex align-items-center justify-content-between mb-2">
                                <span class="fs16 fw_normal text_color_lightgrey">Total hours</span> 
                                <span class="fs16 fw_semibold right-txt">5 hr</span>
                            </p>
                            <p class="d-flex align-items-center justify-content-between mb-2">
                                <span class="fs16 fw_normal text_color_lightgrey">Amount</span> 
                                <span class="fs16 fw_semibold right-txt">5 hr x $34</span>
                            </p>
                            <h3 class="mb-1 pt-1 d-flex align-items-center justify-content-between fs24 fw_semibold text_color_blue">
                                <span class="">Total Pay</span>
                                <span class="">$170.00</span>    
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>