<app-influncerheader></app-influncerheader>
<section class="brdcrm-sec">
    <div class="container">
        <div class="inner-sec d-flex align-items-center justify-content-between cmn-card">
            <div class="left-sec d-flex align-items-center">
                <a class="d-flex me-3" href=""><img width="23px" src="assets/images/blue_star.svg"></a>
                <h3 class="m-0 fs20 fw_semibold text_color_darkgrey">Reviews & Ratings</h3>
            </div>
            <div class="right-sec">
                <p class="fs18 m-0">23 Apr 2021 | 12:30 PM</p>
            </div>
        </div>
    </div>
</section>

<section class="reviews-sec">
    <div class="container">
        <!-- Tabs -->
        <div class="cmn-card mb-4">
            <ul class="nav cmn-tabs nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="my-reviews-tab" data-bs-toggle="tab" data-bs-target="#my-reviews"
                        type="button" role="tab" aria-controls="my-reviews" aria-selected="true">Your Reviews</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="client-reviews-tab" data-bs-toggle="tab" data-bs-target="#client-reviews" type="button"
                        role="tab" aria-controls="client-reviews" aria-selected="false">Influencer Reviews</button>
                </li>
            </ul>


            <div class="tab-content" id="myTabContent">
                <!-- Gallary sec -->
                <div class="tab-pane fade show active pt-2" id="my-reviews" role="tabpanel"
                    aria-labelledby="my-reviews-tab">

                    <div class="review-itm d-flex align-items-start">
                        <div class="img-wrap me-3">
                            <img src="assets/images/review_user1.png">
                        </div>
                        <div class="content-sec flex-1">
                            <h2 class="fs20 fw_semibold mb-2">Rivva Chaudhry</h2>
                            <p class="fs18 text_color_lightgrey fw_normal mb-1">Has Completed her job on time.</p> 
                            <div class="d-flex align-items-center mb-1">
                                <p class="fs16 text_color_lightgrey fw_normal mb-0 me-2">Your Rating</p> 
                                <div class="star-sec d-flex align-items-center">
                                    <img width="17" src="assets/images/yellow_star.svg">
                                    <img width="17" src="assets/images/yellow_star.svg">
                                    <img width="17" src="assets/images/yellow_star.svg">
                                    <img width="17" src="assets/images/gray_star.svg">
                                    <img width="17" src="assets/images/gray_star.svg">
                                </div>
                            </div> 
                            <p class="fs14 text_color_lightgrey fw_normal mb-1">Yesterday 05:15 PM</p> 
                        </div>
                    </div>

                    <div class="review-itm d-flex align-items-start">
                        <div class="img-wrap me-3">
                            <img src="assets/images/review_user.png">
                        </div>
                        <div class="content-sec flex-1">
                            <h2 class="fs20 fw_semibold mb-2">Rivva Chaudhry</h2>
                            <p class="fs18 text_color_lightgrey fw_normal mb-1">Has Completed her job on time.</p> 
                            <div class="d-flex align-items-center mb-1">
                                <p class="fs16 text_color_lightgrey fw_normal mb-0 me-2">Your Rating</p> 
                                <div class="star-sec d-flex align-items-center">
                                    <img width="17" src="assets/images/yellow_star.svg">
                                    <img width="17" src="assets/images/yellow_star.svg">
                                    <img width="17" src="assets/images/yellow_star.svg">
                                    <img width="17" src="assets/images/gray_star.svg">
                                    <img width="17" src="assets/images/gray_star.svg">
                                </div>
                            </div> 
                            <p class="fs14 text_color_lightgrey fw_normal mb-1">Yesterday 05:15 PM</p> 
                        </div>
                    </div>

                    <div class="review-itm d-flex align-items-start">
                        <div class="img-wrap me-3">
                            <img src="assets/images/review_user1.png">
                        </div>
                        <div class="content-sec flex-1">
                            <h2 class="fs20 fw_semibold mb-2">Rivva Chaudhry</h2>
                            <p class="fs18 text_color_lightgrey fw_normal mb-1">Has Completed her job on time.</p> 
                            <div class="d-flex align-items-center mb-1">
                                <p class="fs16 text_color_lightgrey fw_normal mb-0 me-2">Your Rating</p> 
                                <div class="star-sec d-flex align-items-center">
                                    <img width="17" src="assets/images/yellow_star.svg">
                                    <img width="17" src="assets/images/yellow_star.svg">
                                    <img width="17" src="assets/images/yellow_star.svg">
                                    <img width="17" src="assets/images/gray_star.svg">
                                    <img width="17" src="assets/images/gray_star.svg">
                                </div>
                            </div> 
                            <p class="fs14 text_color_lightgrey fw_normal mb-1">Yesterday 05:15 PM</p> 
                        </div>
                    </div>

                    <div class="review-itm d-flex align-items-start">
                        <div class="img-wrap me-3">
                            <img src="assets/images/review_user.png">
                        </div>
                        <div class="content-sec flex-1">
                            <h2 class="fs20 fw_semibold mb-2">Rivva Chaudhry</h2>
                            <p class="fs18 text_color_lightgrey fw_normal mb-1">Has Completed her job on time.</p> 
                            <div class="d-flex align-items-center mb-1">
                                <p class="fs16 text_color_lightgrey fw_normal mb-0 me-2">Your Rating</p> 
                                <div class="star-sec d-flex align-items-center">
                                    <img width="17" src="assets/images/yellow_star.svg">
                                    <img width="17" src="assets/images/yellow_star.svg">
                                    <img width="17" src="assets/images/yellow_star.svg">
                                    <img width="17" src="assets/images/gray_star.svg">
                                    <img width="17" src="assets/images/gray_star.svg">
                                </div>
                            </div> 
                            <p class="fs14 text_color_lightgrey fw_normal mb-1">Yesterday 05:15 PM</p> 
                        </div>
                    </div>

                    <div class="pagination-wrap d-flex align-items-center justify-content-between pt-3">
                        <p class="fs14 fw_normal mb-0">Pages 1 To 234</p>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination mb-0">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>

                <!-- Saved post -->
                <div class="tab-pane fade pt-2" id="client-reviews" role="tabpanel" aria-labelledby="client-reviews-tab">

                    <div class="review-itm client d-flex align-items-center">
                        <div class="img-wrap me-4 ms-2">
                            <img src="assets/images/review_user.png">
                        </div>
                        <div class="content-sec flex-grow-1">
                            <h2 class="fs20 fw_semibold mb-2">Average rating</h2>
                            <div class="d-flex align-items-center">
                                <h3 class="fs28 fw_bold m-0">4.5<span class="fs18 fw_normal">/5</span></h3>
                                <div class="ps-4">
                                    <div class="star-sec d-flex align-items-center">
                                        <img class="ms-0" src="assets/images/yellow_star.svg">
                                        <img src="assets/images/yellow_star.svg">
                                        <img src="assets/images/yellow_star.svg">
                                        <img src="assets/images/gray_star.svg">
                                        <img src="assets/images/gray_star.svg">
                                    </div>
                                    <p class="m-0 fs16 fw_normal">10 reviews</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="review-itm d-flex align-items-start">
                        <div class="img-wrap me-3">
                            <img src="assets/images/review_user.png">
                        </div>
                        <div class="content-sec flex-1">
                            <h2 class="fs20 fw_semibold mb-2">Rivva Chaudhry</h2>
                            <p class="fs18 text_color_lightgrey fw_normal mb-1">Has Completed her job on time.</p> 
                            <div class="d-flex align-items-center mb-1">
                                <p class="fs16 text_color_lightgrey fw_normal mb-0 me-2">Your Rating</p> 
                                <div class="star-sec d-flex align-items-center">
                                    <img width="17" src="assets/images/yellow_star.svg">
                                    <img width="17" src="assets/images/yellow_star.svg">
                                    <img width="17" src="assets/images/yellow_star.svg">
                                    <img width="17" src="assets/images/gray_star.svg">
                                    <img width="17" src="assets/images/gray_star.svg">
                                </div>
                            </div> 
                            <p class="fs14 text_color_lightgrey fw_normal mb-1">Yesterday 05:15 PM</p> 
                        </div>
                    </div>

                    <div class="review-itm d-flex align-items-start">
                        <div class="img-wrap me-3">
                            <img src="assets/images/review_user1.png">
                        </div>
                        <div class="content-sec flex-1">
                            <h2 class="fs20 fw_semibold mb-2">Rivva Chaudhry</h2>
                            <p class="fs18 text_color_lightgrey fw_normal mb-1">Has Completed her job on time.</p> 
                            <div class="d-flex align-items-center mb-1">
                                <p class="fs16 text_color_lightgrey fw_normal mb-0 me-2">Your Rating</p> 
                                <div class="star-sec d-flex align-items-center">
                                    <img width="17" src="assets/images/yellow_star.svg">
                                    <img width="17" src="assets/images/yellow_star.svg">
                                    <img width="17" src="assets/images/yellow_star.svg">
                                    <img width="17" src="assets/images/gray_star.svg">
                                    <img width="17" src="assets/images/gray_star.svg">
                                </div>
                            </div> 
                            <p class="fs14 text_color_lightgrey fw_normal mb-1">Yesterday 05:15 PM</p> 
                        </div>
                    </div>

                    <div class="review-itm d-flex align-items-start">
                        <div class="img-wrap me-3">
                            <img src="assets/images/review_user.png">
                        </div>
                        <div class="content-sec flex-1">
                            <h2 class="fs20 fw_semibold mb-2">Rivva Chaudhry</h2>
                            <p class="fs18 text_color_lightgrey fw_normal mb-1">Has Completed her job on time.</p> 
                            <div class="d-flex align-items-center mb-1">
                                <p class="fs16 text_color_lightgrey fw_normal mb-0 me-2">Your Rating</p> 
                                <div class="star-sec d-flex align-items-center">
                                    <img width="17" src="assets/images/yellow_star.svg">
                                    <img width="17" src="assets/images/yellow_star.svg">
                                    <img width="17" src="assets/images/yellow_star.svg">
                                    <img width="17" src="assets/images/gray_star.svg">
                                    <img width="17" src="assets/images/gray_star.svg">
                                </div>
                            </div> 
                            <p class="fs14 text_color_lightgrey fw_normal mb-1">Yesterday 05:15 PM</p> 
                        </div>
                    </div>

                    <div class="pagination-wrap d-flex align-items-center justify-content-between pt-3">
                        <p class="fs14 fw_normal mb-0">Pages 1 To 234</p>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination mb-0">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>