<app-talent-header></app-talent-header>
<section class="brdcrm-sec">
    <div class="container">
        <div class="inner-sec d-flex align-items-center justify-content-between cmn-card">
            <div class="left-sec d-flex align-items-center">
                <a class="d-flex me-3" href=""><img width="23px" src="assets/images/blue_settings.svg"></a>
                <h3 class="m-0 fs20 fw_semibold text_color_darkgrey">Settings</h3>
            </div>
            <div class="right-sec">
                <!-- <p class="fs18 m-0">23 Apr 2021 | 12:30 PM</p> -->
            </div>
        </div>
    </div>
</section>
<section class="settings-sec">
    <div class="container">
        <div class="row">
            <!-- Settings side menu -->
            <div class="col-md-12 col-lg-4">
                <app-talent-settings-sidebar></app-talent-settings-sidebar>
            </div>
            <!-- Payment Method -->
            <div class="col-md-12 col-lg-8">
                <div class="about-boome cmn-card mb-4">
                    <h2 class="settings-heading fs22 fw_semibold text_color_blue">About BooMe</h2>
                    <div class="video-sec position-relative mb-4">
                        <img class="img-fluid w-100" src="assets/images/about-video.svg">
                        <a class="playbtn position-absolute" data-bs-toggle="modal" data-bs-target="#about_boome_video"><img src="assets/images/playimg.svg"></a>
                    </div>
                    <p class="fs16 fw_light mb-3" [innerHtml]="aboutUs?.data?.text">
                        {{aboutUs?.data?.text}} 
                        <!-- In scelerisque est sit amet elit faucibus sagittis in nec nisl. 
                        Pellentesque erat libero, consequat sit amet eros nec, auctor elementum libero. 
                        Vivamus pulvinar eu dolor at posuere. Interdum et malesuada fames ac ante ipsum primis in faucibus. -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- video modal -->
<div class="modal fade " id="about_boome_video" tabindex="-1 " aria-hidden="true ">
    <div class="modal-dialog modal-dialog-centered modal-lg ">
        <div class="modal-content ">
            <div class="modal-header ">
                <h4 class="modal-title ">About BooMe</h4>
                <button type="button " class="btn-close " data-bs-dismiss="modal" aria-label="Close "></button>
            </div>
            <div class="modal-body ">
                <div class="embed-responsive embed-responsive-16by9 ">
                    <iframe id="wedo_video " class="embed-responsive-item " width="100% " height="450 "
                        src="//www.youtube.com/embed/YE7VzlLtp-4 " allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
