<section class="banner position-relative d-flex align-items-center vh-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6">
                <app-left-social-talent></app-left-social-talent>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card">
                    <div class="position-relative">
                        <div class="card_header text-center px-4 pt-4 pb-0">
                            <h3 class="display-6 position-relative d-inline-flex">Create Account</h3>
                            <h4 class="fst-italic text_color_lightgrey fw_semibold fs20">Fill the following detail
                                to continue</h4>
                        </div>
                        <!-- Steppers div -->
                        <div class="steppers">
                            <!-- Multi step form -->
                            <div class="multi_step_form">
                                <form id="msform" [formGroup]="intersetForm">
                                    <!-- progressbar -->
                                    <ul id="progressbar" class="text-center pl-0">
                                        <li class="active">Categories</li>
                                        <li>Address</li>
                                        <li>Bank Detail</li>
                                        <li>Personal Detail</li>
                                    </ul>

                                    <div class="vcScroll" id="vcScroll">
                                        <!-- fieldsets -->
                                        <fieldset class="ps-1">
                                            <div class="mb-4">
                                                <label class="form-label">Bio</label>
                                                <textarea class="form-control" rows="4"
                                                    placeholder="Description..." formControlName="bio"></textarea>
                                            </div>

                                            <div class="mb-3">
                                                <h6 class="mb-3">Choose Categories +4</h6>

                                                <div class="interest_container talent d-flex flex-wrap">
                                                    <!-- category checkbox -->
                                                    <div class="category-check" *ngFor="let category of list" >
                                                        <input type="checkbox" class="btn-check"
                                                            id="{{category._id}}"  (click)="select($event, category._id)">
                                                        <label class="btn" 
                                                            for="{{category._id}}">🎸 {{category.name}}</label>
                                                    </div>

                                                   
                                                    <!-- <div class="category-check">
                                                        <input type="checkbox" class="btn-check"
                                                            id="singer">
                                                        <label class="btn" 
                                                            for="singer">🎙 Singer</label>
                                                    </div>

                                              
                                                    <div class="category-check">
                                                        <input type="checkbox" class="btn-check"
                                                            id="manager">
                                                        <label class="btn" 
                                                            for="manager">📽 Production manager</label>
                                                    </div>

                                                  
                                                    <div class="category-check">
                                                        <input type="checkbox" class="btn-check"
                                                            id="designer">
                                                        <label class="btn" 
                                                            for="designer">🖌 Designer</label>
                                                    </div>

                                                   
                                                    <div class="category-check">
                                                        <input type="checkbox" class="btn-check"
                                                            id="writer">
                                                        <label class="btn" 
                                                            for="writer">📝 Script Writer</label>
                                                    </div>

                                  
                                                    <div class="category-check">
                                                        <input type="checkbox" class="btn-check"
                                                            id="artist">
                                                        <label class="btn" 
                                                            for="artist">🎹 Piano artist</label>
                                                    </div>

                                                  
                                                     <div class="category-check">
                                                        <input type="checkbox" class="btn-check"
                                                            id="photography">
                                                        <label class="btn" 
                                                            for="photography">📷 Photography</label>
                                                    </div>

                                            
                                                    <div class="category-check">
                                                        <input type="checkbox" class="btn-check"
                                                            id="film">
                                                        <label class="btn" 
                                                            for="film">🎬 Film Making</label>
                                                    </div>

                                              
                                                    <div class="category-check">
                                                        <input type="checkbox" class="btn-check"
                                                            id="event">
                                                        <label class="btn" 
                                                            for="event">🎉 Event planner</label>
                                                    </div>

                                               
                                                    <div class="category-check">
                                                        <input type="checkbox" class="btn-check"
                                                            id="fashion">
                                                        <label class="btn" 
                                                            for="fashion">👠 Fashion designer</label>
                                                    </div>

                                            
                                                     <div class="category-check">
                                                        <input type="checkbox" class="btn-check"
                                                            id="interior">
                                                        <label class="btn" 
                                                            for="interior">💠 Interior designer</label>
                                                    </div>

                                             
                                                    <div class="category-check">
                                                        <input type="checkbox" class="btn-check"
                                                            id="tattoo">
                                                        <label class="btn" 
                                                            for="tattoo">💯 Tattoo artist</label>
                                                    </div> -->


                                                </div>
                                            </div>

                                            <button type="button" class="next btn btn-primary" [disabled]="select_interset.length == 0" (click)="submit()">Continue</button>
                                            <!-- <button type="button"
                                                class="btn btn-link previous_button text_color_pink float-end next">Skip</button> -->

                                        </fieldset>
                                        <fieldset class="ps-1">
                                            <div class="mb-3">
                                                <label class="form-label">Address</label>
                                                <input type="text" class="form-control form-control-lg"
                                                    placeholder="Enter Your Address" formControlName="completeAddress" />
                                            </div>

                                            <div class="mb-3">
                                                <label class="form-label">Postal Code</label>
                                                <input type="text" class="form-control form-control-lg"
                                                    placeholder="Your Postal Code" formControlName="postalCode" />
                                            </div>

                                            <div class="mb-5">
                                                <label class="form-label">Country</label>
                                                <select class="form-select form-select-lg" formControlName="country" (change)="getCitieswithcountries($event)">
                                                    <option selected disabled>Select Country</option>
                                                    <option [value]="countryList"  *ngFor="let countryList of country">{{countryList}}</option>
                                                </select>
                                            </div>

                                            <div class="mb-3">
                                                <label class="form-label">City</label>
                                                <select class="form-select form-select-lg" formControlName="city">
                                                    <option selected disabled>Select City</option>
                                                    <option *ngFor="let city of cities">{{city}}</option>
                                                </select>
                                            </div>

                                       
                                            <button type="button"
                                                class="btn btn-light previous previous_button">Back</button>
                                            <button type="button" class="next btn btn-primary" (click)="submitpersonal()">Continue</button>
                                            <button type="button"
                                                class="btn btn-link previous_button text_color_pink float-end next">Skip</button>


                                        </fieldset>
                                        <fieldset class="ps-1">
                                            <div class="mb-3">
                                                <label class="form-label">Account Number</label>
                                                <input type="text" class="form-control form-control-lg"
                                                    placeholder="Your account number" formControlName="accountNumber"  />
                                            </div>

                                            <div class="mb-3">
                                                <label class="form-label">IBAN Number</label>
                                                <input type="text" class="form-control form-control-lg"
                                                    placeholder="International bank account number" formControlName="ibanNumber" />
                                            </div>

                                            <div class="mb-3">
                                                <label class="form-label">Routing Number</label>
                                                <input type="text" class="form-control form-control-lg"
                                                    placeholder="Bank routing number (Optional)" formControlName="routingNumber" />
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Swift Code</label>
                                                <input type="text" class="form-control form-control-lg"
                                                    placeholder="Enter swift code" formControlName="swiftCode" />
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Bank Name</label>
                                                <input type="text" class="form-control form-control-lg"
                                                    placeholder="Bank name" formControlName="bankName"  />
                                            </div>
                                            <div class="mb-5">
                                                <label class="form-label">Bank Address</label>
                                                <input type="text" class="form-control form-control-lg"
                                                    placeholder="Bank location and address" formControlName="bankAddress" />
                                            </div>
                                            <button type="button"
                                                class="btn btn-light previous previous_button">Back</button>
                                            <button type="button" class="next btn btn-primary" (click)="submitBantDetail()">Continue</button>
                                            <button type="button"
                                                class="btn btn-link previous_button text_color_pink float-end next">Skip</button>
                                        </fieldset>
                                        <fieldset class="ps-1">
                                            <div class="mb-3">
                                                <label class="form-label w-100">Choose Height</label>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="check"
                                                        id="centimeter" value="Centimeter" formControlName="check" >

                                                    <label class="form-check-label"
                                                        for="centimeter">Centimeter</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="check"
                                                        id="inches" value="Inches" formControlName="check" >
                                                    <label class="form-check-label" for="inches">Inches</label>
                                                </div>
                                            </div>

                                            <div class="form-floating height mb-3" id="showCentimeter">
                                                <input type="text" class="form-control form-control-lg"
                                                    id="floatingCentimeter"
                                                    placeholder="Enter Height In Centimeter" formControlName="heightCm">
                                                <label for="floatingCentimeter">Enter Height In Centimeter</label>
                                            </div>
                                            <div class="form-floating height mb-3" id="showInches">
                                                <label for="floatingInches">Enter Height In Inches</label>
                                            </div>


                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control form-control-lg" id="floatingLength"
                                                    placeholder="Jeans Length" formControlName="jeanLength">
                                                <label for="floatingLength">Jeans Length</label>
                                            </div>
                                        
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control form-control-lg" id="floatingWaist"
                                                    placeholder="Jeans Length" formControlName="jeanWaist">
                                                <label for="floatingWaist">Jeans Waist</label>
                                            </div>
                                        
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control form-control-lg" id="floatingShirt"
                                                    placeholder="Jeans Length" formControlName="shirt">
                                                <label for="floatingShirt">Shirt</label>
                                            </div>
                                        
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control form-control-lg" id="floatingShoesize"
                                                    placeholder="Jeans Length" formControlName="shoeSize">
                                                <label for="floatingShoesize">Shoe size</label>
                                            </div>

                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control form-control-lg" id="floatingPants"
                                                    placeholder="Jeans Length" formControlName="ethnicity">
                                                <label for="floatingPants">Ethnicity</label>
                                            </div>

                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control form-control-lg" id="floatingPants"
                                                    placeholder="Jeans Length" formControlName="hairColor">
                                                <label for="floatingPants">Hair Color</label>
                                            </div>

                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control form-control-lg" id="floatingPants"
                                                    placeholder="Jeans Length" formControlName="hairLength">
                                                <label for="floatingPants">Hair Length</label>
                                            </div>

                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control form-control-lg" id="floatingPants"
                                                    placeholder="Jeans Length" formControlName="eyesColor">
                                                <label for="floatingPants">Eyes Color</label>
                                            </div>

                                            <div class="mb-3 add-shots">
                                                <label class="form-label w-100">Add Pictures</label>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-4">
                                                        <div class="inner-sec text-center" *ngIf="!headshot">
                                                            <div class="img-wrap"> 
                                                                <img *ngIf="!headshot"  src="assets/images/headshot.svg">
                                                                <h3 class="fs16 fw_semibold mb-0">Headshot</h3>
                                                            </div>
                                                            <div class="btn uploadbtn btn-light-pink no-shadow">
                                                                <input type="file" (change)="selectImage($event,'headshot')">
                                                               Upload
                                                            </div>
                                                        </div>
                                                        <div class="inner-sec uploaded" *ngIf="headshot">
                                                            <div class="img-wrap"> 
                                                                <img *ngIf="headshot" src="{{headshot}}">

                                                                <h3 class="fs16 fw_semibold mb-0">Headshot</h3>
                                                            </div>
                                                            <!-- <div *ngIf="!headshot" class="btn uploadbtn btn-light-pink no-shadow mx-auto">
                                                                <input type="file" (change)="selectImage($event,'headshot')">
                                                               Upload
                                                            </div> -->
                                                            <div  *ngIf="headshot" class="uploadbtn mx-auto">
                                                                <img src="assets/images/pink-check.svg">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 col-md-4" >
                                                        <div class="inner-sec text-center" *ngIf="!beauty">
                                                            <div class="img-wrap"> 
                                                                <img *ngIf="!beauty" src="assets/images/beautyshot.svg">
                                                                <h3 class="fs16 fw_semibold mb-0">Beauty shot</h3>
                                                            </div>
                                                            <div *ngIf="!beauty" class="btn uploadbtn btn-light-pink no-shadow mx-auto">
                                                                <input type="file" (change)="selectImage($event, 'beauty')">
                                                               Upload
                                                            </div>
                                                        </div>
                                                        <div class="inner-sec uploaded" *ngIf="beauty" >
                                                            <div class="img-wrap"> 
                                                                <img *ngIf="beauty" src="{{beauty}}">
                                                                <h3 class="fs16 fw_semibold mb-0">Beauty shot</h3>
                                                            </div>
                                                            <div class="uploadbtn mx-auto">
                                                                <img src="assets/images/pink-check.svg">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 col-md-4">
                                                        <div class="inner-sec text-center"  *ngIf="!fulllenght">
                                                            <div class="img-wrap"> 
                                                                <img *ngIf="!fulllenght"  src="assets/images/bodyshot.svg">
                                                                <h3 class="fs16 fw_semibold mb-0">Full Length</h3>
                                                            </div>
                                                            <div *ngIf="!fulllenght" class="btn uploadbtn btn-light-pink no-shadow mx-auto">
                                                                <input type="file" (change)="selectImage($event, 'fulllenght')">
                                                               Upload
                                                            </div>
                                                        </div>
                                                        <div class="inner-sec uploaded" *ngIf="fulllenght">
                                                            <div class="img-wrap"> 
                                                                <img  src="{{fulllenght}}">
                                                                <h3 class="fs16 fw_semibold mb-0">Headshot</h3>
                                                            </div>
                                                            <div class="uploadbtn mx-auto">
                                                                <img src="assets/images/pink-check.svg">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <button type="button"
                                                class="btn btn-light previous previous_button">Back</button>
                                            <button type="button" class="btn btn-primary"
                                            [routerLink]="['/register-detail-talent']" (click)="submitpersonalDetail()">Continue</button>
                                            <button type="button"
                                                class="btn btn-link previous_button text_color_pink float-end" [routerLink]="['/register-detail-talent']">Skip</button>

                                        </fieldset>

                                    </div>
                                </form>
                            </div>
                            <!-- End Multi step form -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

