<app-influncerheader></app-influncerheader>
<section class="brdcrm-sec">
    <div class="container">
        <div class="inner-sec d-flex align-items-center justify-content-between cmn-card">
            <div class="left-sec d-flex align-items-center">
                <a class="d-flex me-3" href=""><img width="23px" src="assets/images/booking_icn.svg"></a>
                <h3 class="m-0 fs20 fw_semibold text_color_darkgrey">History</h3>
                <h2 class="mb-0 text_color_pink fs16 fw_normal">Job Detail</h2>
            </div>
            <div class="right-sec">
                <p class="fs18 m-0">23 Apr 2021 | 12:30 PM</p>
            </div>
        </div>
    </div>
</section>

<section class="job-detial-sec">
    <div class="container">
        <div class="row">
            <!-- profile box -->
            <div class="col-md-12 col-lg-4">
                <div class="profile-job cmn-card mb-4 p-0 d-inline-block w-100">
                    <div class="top-sec position-relative">
                        <div class="coverimg-wrap">
                            <img src="assets/images/profile_coverimg.svg">
                        </div>
                        <div class="userimg-wrap"> 
                            <img src="assets/images/userimage.svg">    
                        </div>    
                    </div>    
                    <h2 class="text-center fs20 fw_semibold text_color_light_blue mt-3 mb-1">Josua Csizmadia</h2>
                    <p class="fs14 text_color_lightgrey fw_nolrmal m-0 text-center"><img style="margin-top: -3px"
                            class="me-2" src="assets/images/post_location.svg"><span>California 95023,
                            USA</span></p>

                    <div class="timeline-box mb-4 mt-4">
                        <h4 class="text_color_blue fs20 fw_semibold text-center">Timeline</h4>
                        <div class="date-sec d-flex align-items-center justify-content-center">
                            <h5 class="fs14 fw_semibold m-0">June 17, 2021</h5>
                            <svg class="mx-3" xmlns="http://www.w3.org/2000/svg" width="26" height="4"
                                viewBox="0 0 26 4">
                                <line id="Line_26" data-name="Line 26" x2="26" transform="translate(0 2)" fill="none"
                                    stroke="#89cff0" stroke-width="4" />
                            </svg>
                            <h5 class="fs14 fw_semibold m-0">July 20, 2021</h5>
                        </div>
                    </div>

                    <button class="btn btn-primary mb-3 mx-auto d-block px-3">Send Message</button>

                </div>

                <!-- Reward box -->
                <div class="cmn-card mb-4 p-3">
                    <h3 class="fs18 fw_semibold mb-3">Reward</h3>
                    <div class="voucher d-flex align-items-center justify-content-between mb-3">
                        <div class="content-sec">
                            <h4 class="fs20 fw_semibold text_color_blue m-0">Domino's gift card<br>voucher</h4>
                            <p class="fs14 fw_normal my-2">Expires</p>
                            <h5 class="fs18 fw_semibold m-0">04 July 2021</h5>
                        </div>
                        <div class="price-sec">
                            <p class="fs16 text-center text-uppercase">value</p>
                            <h2 class="fs34 fw_bold text-center m-0">$150</h2>
                        </div>
                    </div>

                    <p class="mb-3 fs16 fw_light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a
                        cursus purus, interdum dapibus sem.</p>
                    <p class="mb-0 fs16 fw_light">Donec maximus turpis eget mi pretium ultricies. Phasellus eget neque
                        ac tellus pellentesque cursus. Morbi elementum vehicula nibh eget interdum.</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-8">
                <div class="job-detail client-history cmn-card mb-4">
                    <div class="head-sec d-flex align-items-center justify-content-between">
                        <h2 class="fs24 text_color_blue fw_semibold mb-0">Hollister California</h2>
                        <h5 class="status ongoing mb-1 py-2">Ongoing</h5>
                    </div>

                    <h3 class="fs18 fw_semibold mb-2 mt-4">Price </h3>
                    <p class="mb-4 fs16 fw_semibold text_color_pink">$300.00</p>

                    <h3 class="fs18 fw_semibold mb-2 mt-4">Description</h3>
                    <p class="mb-4 fs16 fw_light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a
                        cursus purus, interdum dapibus sem. Donec maximus turpis eget mi pretium ultricies. Phasellus
                        eget neque ac tellus pellentesque cursus.</p>

                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel"
                        data-bs-interval="false">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                                aria-label="Slide 4"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="post-media mb-3">
                                    <div class="img-wrap">
                                        <img class="img-fluid object-cover" src="assets/images/jobimg.png">
                                    </div>
                                    <a
                                        class="position-relative d-flex align-items-center justify-content-center ms-auto"><img
                                            src="assets/images/insta_jd1.svg"></a>
                                </div>
                                <p class="mb-4 fs16 fw_light">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Etiam
                                    a cursus purus, interdum dapibus sem. Donec maximus turpis eget mi pretium
                                    ultricies.
                                    Phasellus eget neque ac tellus pellentesque cursus.</p>

                                <h3 class="fs18 fw_semibold mb-2 mt-4">#hashtags</h3>
                                <p class="mb-4 fs16 fw_light text_color_light_blue">
                                    <span>#WantAnR8</span> <span>#SpeedGoals</span> <span>#LetsDoLunch</span>
                                </p>

                                <h3 class="fs18 fw_semibold mb-2 mt-4">@mentions</h3>
                                <p class="mb-4 fs16 fw_light text_color_light_blue">
                                    <span class="me-3">@MakeAWish</span> <span>@DisneyParks</span>
                                </p>

                                <h3 class="fs18 fw_semibold mb-2 mt-4">Guidelines</h3>
                                <ul class="guidelines mb-0 p-0 list-unstyled">
                                    <li class="fs16 fw_light">Use a clear, direct style throughout the description</li>
                                    <li class="fs16 fw_light">Avoid the narrative form</li>
                                    <li class="fs16 fw_light">Begin each sentence with an action verb, using parallel
                                        structure</li>
                                    <li class="fs16 fw_light">Focus on essential activities</li>
                                    <li class="fs16 fw_light">Use factual, non-technical language whenever</li>
                                </ul>
                            </div>
                            <div class="carousel-item">
                                <div class="post-media mb-3">
                                    <div class="img-wrap">
                                        <img class="img-fluid object-cover" src="assets/images/jobimg.png">
                                    </div>
                                    <a
                                        class="position-relative d-flex align-items-center justify-content-center ms-auto"><img
                                            src="assets/images/facebook_jd1.svg"></a>
                                </div>
                                <p class="mb-4 fs16 fw_light">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Etiam
                                    a cursus purus, interdum dapibus sem. Donec maximus turpis eget mi pretium
                                    ultricies.
                                    Phasellus eget neque ac tellus pellentesque cursus.</p>

                                <h3 class="fs18 fw_semibold mb-2 mt-4">#hashtags</h3>
                                <p class="mb-4 fs16 fw_light text_color_light_blue">
                                    <span>#WantAnR8</span> <span>#SpeedGoals</span> <span>#LetsDoLunch</span>
                                </p>

                                <h3 class="fs18 fw_semibold mb-2 mt-4">@mentions</h3>
                                <p class="mb-4 fs16 fw_light text_color_light_blue">
                                    <span class="me-3">@MakeAWish</span> <span>@DisneyParks</span>
                                </p>

                                <h3 class="fs18 fw_semibold mb-2 mt-4">Guidelines</h3>
                                <ul class="guidelines mb-0 p-0 list-unstyled">
                                    <li class="fs16 fw_light">Use a clear, direct style throughout the description</li>
                                    <li class="fs16 fw_light">Avoid the narrative form</li>
                                    <li class="fs16 fw_light">Begin each sentence with an action verb, using parallel
                                        structure</li>
                                    <li class="fs16 fw_light">Focus on essential activities</li>
                                    <li class="fs16 fw_light">Use factual, non-technical language whenever</li>
                                </ul>
                            </div>
                            <div class="carousel-item">
                                <div class="post-media mb-3">
                                    <div class="img-wrap">
                                        <img class="img-fluid object-cover" src="assets/images/jobimg.png">
                                        <button class="btn play-btn p-0 no-shadow" data-bs-toggle="modal" data-bs-target="#post_video"><img src="assets/images/postvideo-btn.svg"></button>
                                    </div>
                                    <a class="position-relative d-flex align-items-center justify-content-center ms-auto"><img src="assets/images/tiktok_jd1.svg"></a>
                                </div>
                                <p class="mb-4 fs16 fw_light">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Etiam
                                    a cursus purus, interdum dapibus sem. Donec maximus turpis eget mi pretium
                                    ultricies.
                                    Phasellus eget neque ac tellus pellentesque cursus.</p>

                                <h3 class="fs18 fw_semibold mb-2 mt-4">#hashtags</h3>
                                <p class="mb-4 fs16 fw_light text_color_light_blue">
                                    <span>#WantAnR8</span> <span>#SpeedGoals</span> <span>#LetsDoLunch</span>
                                </p>

                                <h3 class="fs18 fw_semibold mb-2 mt-4">@mentions</h3>
                                <p class="mb-4 fs16 fw_light text_color_light_blue">
                                    <span class="me-3">@MakeAWish</span> <span>@DisneyParks</span>
                                </p>

                                <h3 class="fs18 fw_semibold mb-2 mt-4">Guidelines</h3>
                                <ul class="guidelines mb-0 p-0 list-unstyled">
                                    <li class="fs16 fw_light">Use a clear, direct style throughout the description</li>
                                    <li class="fs16 fw_light">Avoid the narrative form</li>
                                    <li class="fs16 fw_light">Begin each sentence with an action verb, using parallel
                                        structure</li>
                                    <li class="fs16 fw_light">Focus on essential activities</li>
                                    <li class="fs16 fw_light">Use factual, non-technical language whenever</li>
                                </ul>
                            </div>
                            <div class="carousel-item">
                                <div class="post-media mb-3">
                                    <div class="img-wrap">
                                        <img class="img-fluid object-cover" src="assets/images/jobimg.png">
                                        <button class="btn play-btn p-0 no-shadow" data-bs-toggle="modal" data-bs-target="#post_video"><img src="assets/images/postvideo-btn.svg"></button>
                                    </div>
                                    <a class="position-relative d-flex align-items-center justify-content-center ms-auto"><img src="assets/images/youtube_jd1.svg"></a>
                                </div>
                                <p class="mb-4 fs16 fw_light">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Etiam
                                    a cursus purus, interdum dapibus sem. Donec maximus turpis eget mi pretium
                                    ultricies.
                                    Phasellus eget neque ac tellus pellentesque cursus.</p>

                                <h3 class="fs18 fw_semibold mb-2 mt-4">#hashtags</h3>
                                <p class="mb-4 fs16 fw_light text_color_light_blue">
                                    <span>#WantAnR8</span> <span>#SpeedGoals</span> <span>#LetsDoLunch</span>
                                </p>

                                <h3 class="fs18 fw_semibold mb-2 mt-4">@mentions</h3>
                                <p class="mb-4 fs16 fw_light text_color_light_blue">
                                    <span class="me-3">@MakeAWish</span> <span>@DisneyParks</span>
                                </p>

                                <h3 class="fs18 fw_semibold mb-2 mt-4">Guidelines</h3>
                                <ul class="guidelines mb-0 p-0 list-unstyled">
                                    <li class="fs16 fw_light">Use a clear, direct style throughout the description</li>
                                    <li class="fs16 fw_light">Avoid the narrative form</li>
                                    <li class="fs16 fw_light">Begin each sentence with an action verb, using parallel
                                        structure</li>
                                    <li class="fs16 fw_light">Focus on essential activities</li>
                                    <li class="fs16 fw_light">Use factual, non-technical language whenever</li>
                                </ul>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                            <img src="assets/images/slider-left-arrow.png">
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                            <img src="assets/images/slider-right-arrow.png">
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- Post vedio modal -->
<div class="modal fade " id="post_video" tabindex="-1 " aria-hidden="true ">
    <div class="modal-dialog modal-dialog-centered modal-lg ">
        <div class="modal-content ">
            <div class="modal-header ">
                <h4 class="modal-title ">About BooMe</h4>
                <button type="button " class="btn-close " data-bs-dismiss="modal" aria-label="Close "></button>
            </div>
            <div class="modal-body ">
                <div class="embed-responsive embed-responsive-16by9 ">
                    <iframe id="wedo_video " class="embed-responsive-item " width="100% " height="450 "
                        src="//www.youtube.com/embed/YE7VzlLtp-4 " allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

