<app-client-talentheader></app-client-talentheader>
<section class="brdcrm-sec">
    <div class="container">
        <div class="inner-sec d-flex align-items-center justify-content-between cmn-card py-3">
            <div class="left-sec d-flex align-items-center">
                <a class="d-flex me-3" href=""><img src="assets/images/home_icn.svg"></a>
                <h3 class="m-0 fs20 fw_semibold text_color_darkgrey">Talents</h3>
                <h2 class="mb-0 text_color_lightgrey fs16 fw_normal">Talent Details</h2>
                <h2 class="mb-0 text_color_pink fs16 fw_normal">Booking Details</h2>
            </div>
        </div>
    </div>
</section>

<section class="talent-details">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-4">
                <div class="cmn-card user-details client-talent mb-4 px-0 pb-0">
                    <div class="content-box px-3">
                        <div class="top-sec pb-2 border-0">
                            <div class="img-wrap">
                                <img src="assets/images/review_user1.png">
                            </div>
                            <h3 class="fs20 text_color_light_blue fw_semibold text-center mt-2 mb-0 pt-1">Bobby Norton</h3>
                            <p class="fs14 text_color_lightgrey fw_nolrmal my-2 text-center"><img style="margin-top: -3px" class="me-2"
                                src="assets/images/post_location.svg"><span>California 95023, USA</span></p>
                            <div class="d-flex badge-row align-items-center justify-content-center py-1">
                                <p class="light-gray mb-0">Designer</p>
                                <p class="light-pink mb-0">Piano artist</p>
                                <p class="light-pink mb-0">+2</p>
                            </div>
                            <div class="rating-sec d-flex align-items-start justify-content-center my-3">
                                <h5 class="fs28 fw_bold me-2">4.0</h5>
                                <div class="right-sec">
                                    <div class="star-sec d-flex align-items-center">
                                        <img src="assets/images/yellow_star.svg">
                                        <img src="assets/images/yellow_star.svg">
                                        <img src="assets/images/yellow_star.svg">
                                        <img src="assets/images/yellow_star.svg">
                                        <img src="assets/images/gray_star.svg">
                                    </div>
                                    <span class="fs14 fw_normal text_color_lightgrey mt-2 d-block">120 reviews</span>
                                </div>
                            </div> 
                            <div class="d-flex align-items-center justify-content-center info-row">
                                <h4 class="fs14 fw_semibold mb-0"><span class="labeltxt fw_normal text_color_lightgrey pe-2">Age:</span> <span>26</span></h4>
                                <h4 class="fs14 fw_semibold mb-0"><span class="labeltxt fw_normal text_color_lightgrey pe-2">Price:</span> <span>$34/hr</span></h4>
                                <h4 class="fs14 fw_semibold mb-0"><span class="labeltxt fw_normal text_color_lightgrey pe-2">Exp:</span> <span>5 years</span></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-8">
                <div class="cmn-card rating-sec mb-4">
                    <h2 class="border-bottom-heading fs22 fw_semibold text_color_blue d-flex">Booking Details</h2>

                    <form class="">
                        <div class="payment-meth">
                            <h2 class="fs22 fw_semibold mb-3">Select Payment Method</h2>
                            <div class="saved-card d-flex aligin-items-start justify-content-between mb-3">
                                <div class="d-flex align-items-center justify-content-start">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input me-0" type="radio" id="card1"
                                            name="savedcards">
                                    </div>
                                    <div class="img-wrap me-4">
                                        <img src="assets/images/cardimg.svg">
                                    </div>
                                    <div class="content-sec">
                                        <h3 class="fs18 fw_semibold mb-0">0123 4567 8901 2345</h3>
                                        <div class="d-flex aligin-items-start justify-content-between">
                                            <div>
                                                <p class="fs14 text_color_lightgrey">Card Holder</p>
                                                <h4 class="fs14 fw_semibold m-0">Jeffery Erhunse</h4>
                                            </div>
                                            <div>
                                                <p class="fs14 text_color_lightgrey">Exp. Date</p>
                                                <h4 class="fs14 fw_semibold m-0">14/25</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn no-shadow p-0"><img
                                        src="assets/images/trash-pink.svg"></button>
                            </div>

                            <div class="saved-card d-flex aligin-items-start justify-content-between mb-3">
                                <div class="d-flex align-items-center justify-content-start">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input me-0" type="radio" id="card2"
                                            name="savedcards">
                                    </div>
                                    <div class="img-wrap me-4">
                                        <img src="assets/images/cardimg.svg">
                                    </div>
                                    <div class="content-sec">
                                        <h3 class="fs18 fw_semibold mb-0">0123 4567 8901 2345</h3>
                                        <div class="d-flex aligin-items-start justify-content-between">
                                            <div>
                                                <p class="fs14 text_color_lightgrey">Card Holder</p>
                                                <h4 class="fs14 fw_semibold m-0">Jeffery Erhunse</h4>
                                            </div>
                                            <div>
                                                <p class="fs14 text_color_lightgrey">Exp. Date</p>
                                                <h4 class="fs14 fw_semibold m-0">14/25</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn no-shadow p-0"><img
                                        src="assets/images/trash-pink.svg"></button>
                            </div>

                            <div class="add-card-box d-flex align-items-center justify-content-between">
                                <div class="content-sec">
                                    <h3 class="fs16 fw_medium mb-1">Add Debit/Credit Card</h3>
                                    <p class="fs14 fw_semibold m-0">Add another card for payment</p>
                                </div>
                                <button type="button" class="btn p-0 no-shadow" data-bs-toggle="modal"
                                    data-bs-target="#add_card"><img src="assets/images/plus-gray.svg"></button>
                            </div>
                        </div>

                        <div class="booking-info">
                            <h2 class="fs22 fw_semibold mt-4 mb-3">Booking Information</h2>
                            <h5 class="d-flex align-items-center justify-content-between mb-2 pb-2">
                                <span class="fs18 fw_semibold text_color_darkgrey">Booking Date</span> 
                                <span class="fs16 text_color_lightgrey fw_normal">Monday - 19 July, 2021</span>
                            </h5>
                            <h5 class="d-flex align-items-center justify-content-between mb-2 pb-2">
                                <span class="fs18 fw_semibold text_color_darkgrey">Booking Time</span> 
                                <span class="fs16 text_color_lightgrey fw_normal">9:00 AM - 2:00 PM</span>
                            </h5>

                            <div class="bill-card mb-3">
                                <p class="d-flex align-items-center justify-content-between mb-2">
                                    <span class="fs16 fw_normal text_color_lightgrey">Total hours</span> 
                                    <span class="fs16 fw_semibold right-txt">5 hr</span>
                                </p>
                                <p class="d-flex align-items-center justify-content-between mb-2">
                                    <span class="fs16 fw_normal text_color_lightgrey">Amount</span> 
                                    <span class="fs16 fw_semibold right-txt">5 hr x $34</span>
                                </p>
                                <h3 class="mb-1 pt-1 d-flex align-items-center justify-content-between fs24 fw_semibold text_color_blue">
                                    <span class="">Total Pay</span>
                                    <span class="">$170.00</span>
                                </h3>
                            </div>
                        </div>

                        <div class="btns-sec d-flex align-items-center justify-content-between pt-2">
                            <button class="btn btn-reject px-3" [routerLink]="['/hire-talent']">Previous</button>
                            <button class="btn btn-primary px-3" data-bs-toggle="modal"
                            data-bs-target="#payment_success">Continue</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ===========Payment successfull modal=========== -->
<div class="modal fade " id="payment_success" tabindex="-1 " aria-hidden="true ">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content ">
            <div class="modal-header border-0 text-center justify-content-center pb-0">
                <div class="pt-3">
                    <img class="img-fluid" src="assets/images/success_payment.svg" alt="">
                </div>
            </div>

            <div class="modal-body p-4 text-center">
                <h3 class="display-6 position-relative d-inline-flex text_color_pink">Awesome</h3>
                <h4 class="fst-italic text_color_lightgrey fw_semibold fs20">Your Payment has been<br>completed successfully.</h4>
                <button type="button" class="btn btn-primary d-block mx-auto mt-4" data-bs-dismiss="modal"
                [routerLink]="['/Clienttalent']">Continue</button>
            </div>

        </div>
    </div>
</div>