.scan-img-wrap {
    position: relative;
    width: 193px;
    height: 193px;
    overflow: hidden;
    border-radius: 50%;
}

.scan-img-wrap input {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}