<section class="banner position-relative d-flex align-items-center vh-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6">
                <app-left-social-talent></app-left-social-talent>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card talent-account">
                    <div class="card_container">
                        <div class="card_header text-center px-4 pt-4 pb-0">
                            <h3 class="display-6 position-relative d-inline-flex">Create Account</h3>
                            <h4 class="fst-italic text_color_lightgrey fw_semibold fs20">Fill the following detail
                                to continue</h4>
                        </div>
                        <div class="vcScroll" id="vcScroll">
                            <form action="" class="p-2 pe-3" id="msform" [formGroup]="Form">
                                <div class="mb-3">
                                    <label class="form-label">Date of Birth</label>
                                    <input type="date" class="form-control form-control-lg" placeholder="dd-mm-yy"
                                        formControlName="dateOfBirth" />
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Experience</label>
                                    <input type="text" class="form-control form-control-lg"
                                        placeholder="Enter work experience" formControlName="experience" />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Select Currency</label>
                                    <select class="form-select form-select-lg" formControlName="currencyType">
                                        <option value='' selected disabled>Select Currency</option>
                                        <option value="AED">AED</option>
                                        <option value="USD">USD</option>
                                        <option value="INR">INR</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Price</label>
                                    <input type="text" class="form-control form-control-lg" placeholder="Per hour price"
                                        formControlName="pricePerHour" />
                                </div>
                                
                                <div class="mb-3">
                                    <label class="form-label w-100">Select Proof Type</label>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="check" id="Video"
                                            value="vedio" formControlName="check" (change)="reset('vedio')">
                                        <label class="form-check-label" for="Video">Video</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="check" id="Passport"
                                            value="passport" formControlName="check"  (change)="reset('passport')">
                                        <label class="form-check-label" for="Passport">Passport</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="check" id="Other"
                                            value="other" formControlName="check"  (change)="reset('other')">
                                        <label class="form-check-label" for="Other">Other</label>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <ng-container *ngIf="Form.get('check').value =='vedio'">
                                        <div
                                            class="upload-img-wrap position-relative d-flex align-items-center justify-content-center flex-column">
                                            <img *ngIf="!imgURL" src="assets/images/image-gallery.svg">
                                            <video controls *ngIf="imgURL">
                                                <source src="{{imgURL}}">
                                            </video>
                                            <p class="mt-3 mb-0" *ngIf="!imgURL">Upload Campaign Image</p>
                                            <input type="file" (change)="selectImage($event)" accept="video/*" >
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="Form.get('check').value =='passport'">
                                        <div
                                            class="upload-img-wrap position-relative d-flex align-items-center justify-content-center flex-column">
                                            <img *ngIf="!imgURL" src="assets/images/image-gallery.svg">
                                            <img *ngIf="imgURL" src="{{imgURL}}">
                                            <p class="mt-3 mb-0" *ngIf="!imgURL">Upload Campaign Image</p>
                                            <input type="file" (change)="selectImage($event)" accept="image/*">
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="Form.get('check').value =='other'">
                                        <div
                                            class="upload-img-wrap position-relative d-flex align-items-center justify-content-center flex-column">
                                            <img *ngIf="!imgURL" src="assets/images/image-gallery.svg">
                                            <!-- <img *ngIf="imgURL" src="{{imgURL}}"> -->
                                            <p class="mt-3 mb-0" *ngIf="!imgURL">Upload Campaign Image</p>
                                            <p class="mt-3 mb-0" *ngIf="imgURL">{{imageUploadData.name}}</p>
                                            <input type="file" (change)="selectImage($event)" accept="image/*">
                                        </div>
                                    </ng-container>
                                </div>


                                <div class="btn-sec d-flex align-items-center justify-content-between pt-2">
                                    <button (click)="submit()" type="button" class="btn btn-primary">Continue</button>
                                    <button type="button"
                                        class="btn btn-link previous_button text_color_pink float-end">Skip</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>