/* my-loader.component.css */
.progress-loader{
    background-color: rgba(0 0 0 / 40%);
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    align-items: center;
    justify-content: center;
    display: grid;
    bottom: 0;
}
.loading-spinner{    
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 30px 30px 25px 30px;
    border-radius: 15px;
    animation: zoom-in-zoom-out 2s ease-out infinite;
}

.loading-spinner img{
    width: 105px;
}

.loading-message{
    text-align: center;
    align-self: start;
    font-size: 19px;
    margin-top: 11px;
    color: #009eff;
    font-weight: 600;
}

@keyframes zoom-in-zoom-out {
    0% {
    transform: scale(1, 1);
    }
    50% {
    transform: scale(1.1, 1.1);
    }
    100% {
    transform: scale(1, 1);
    }
}